<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GoPG Booking</title>
    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="/css/Landingbgimg.css">
    <link rel="stylesheet" href="/css/Landingcentre.css">
    <link rel="stylesheet" href="/css/Facilities.css">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/homefooter.css">
</head>
<body>
   <%- include('partials/guestNavbar') %>
    <%- include('partials/Landingbgimg') %>
    <%- include('partials/Landingcentre') %>
    <%- include('partials/Facilities') %>
   <%- include('partials/homefooter')%>
</body>
</html>